n8n-workflows/core-workflows/google-drive-scanner.json
{
    "name": "Google Drive Scanner",
    "nodes": [
      {
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 30,
                "unit": "minutes"
              }
            ]
          }
        },
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "authentication": "serviceAccount",
          "scope": [
            "https://www.googleapis.com/auth/drive"
          ],
          "folderId": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "options": {
            "includeItemsFromAllDrives": true,
            "supportsAllDrives": true,
            "q": "mimeType contains 'image/' and trashed=false"
          }
        },
        "name": "Google Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "1",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.newItem }}",
                "value2": true
              }
            ]
          }
        },
        "name": "Filter New Images",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          650,
          300
        ]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "fileId",
                "value": "={{ $json.id }}"
              },
              {
                "name": "fileName",
                "value": "={{ $json.name }}"
              },
              {
                "name": "mimeType",
                "value": "={{ $json.mimeType }}"
              },
              {
                "name": "webViewLink",
                "value": "={{ $json.webViewLink }}"
              },
              {
                "name": "thumbnailLink",
                "value": "={{ $json.thumbnailLink }}"
              },
              {
                "name": "createdTime",
                "value": "={{ $json.createdTime }}"
              },
              {
                "name": "size",
                "value": "={{ $json.size }}"
              }
            ]
          },
          "options": {}
        },
        "name": "Format Image Data",
        "type": "n8n-nodes-base.set",
        "typeVersion": 2,
        "position": [
          850,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://localhost:5678/api/images",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json }}"
        },
        "name": "Save to Database",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 2,
        "position": [
          1050,
          300
        ]
      },
      {
        "parameters": {
          "workflowId": "=workflow-deepface-processing-id"
        },
        "name": "Trigger Processing",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1250,
          300
        ]
      },
      {
        "parameters": {
          "functionCode": "// Log successful processing\nconst items = $input.all();\nconst processedCount = items.length;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: `Google Drive scan completed successfully at ${new Date().toISOString()}`,\n      processedCount: processedCount\n    }\n  }\n];"
        },
        "name": "Log Results",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1450,
          300
        ]
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Google Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive": {
        "main": [
          [
            {
              "node": "Filter New Images",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter New Images": {
        "main": [
          [
            {
              "node": "Format Image Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Image Data": {
        "main": [
          [
            {
              "node": "Save to Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save to Database": {
        "main": [
          [
            {
              "node": "Trigger Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Processing": {
        "main": [
          [
            {
              "node": "Log Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "error-handling"
    },
    "tags": [
      {
        "name": "core-workflows"
      },
      {
        "name": "google-drive"
      }
    ],
    "versionId": "1",
    "id": "google-drive-scanner",
    "meta": {
      "instanceId": "local-instance"
    }
  } 