n8n-workflows/ai-integration/quality-assessment.json
{
    "name": "Quality Assessment",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "/api/assess-quality",
          "options": {}
        },
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          250,
          300
        ],
        "webhookId": "quality-assessment"
      },
      {
        "parameters": {},
        "name": "When clicking \"Execute Workflow\"",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          250,
          450
        ]
      },
      {
        "parameters": {
          "functionCode": "// Extract image URL from input data\nconst item = $input.first();\nconst imageUrl = item.json.imageUrl || item.json.url;\n\nif (!imageUrl) {\n  throw new Error('Image URL is required');\n}\n\nreturn [\n  {\n    json: {\n      imageUrl: imageUrl\n    }\n  }\n];"
        },
        "name": "Extract Image URL",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          450,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=http://localhost:5000/api/images/analyze-face",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={ \"imageUrl\": \"{{ $json.imageUrl }}\", \"actions\": [\"quality\"] }"
        },
        "name": "Call Local Quality Service",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          650,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.success }}",
                "value2": "true"
              }
            ]
          }
        },
        "name": "If Successful",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          850,
          400
        ]
      },
      {
        "parameters": {
          "functionCode": "// Process successful quality assessment results\nconst results = $input.item.json;\n\nreturn [\n  {\n    json: {\n      success: true,\n      qualityScore: results.qualityScore || 0,\n      faceCount: results.faceCount || 0,\n      assessmentDetails: {\n        brightness: results.metrics?.brightness || 0,\n        contrast: results.metrics?.contrast || 0,\n        resolution: results.metrics?.resolution || 0,\n        width: results.metrics?.width || 0,\n        height: results.metrics?.height || 0\n      },\n      processedAt: new Date().toISOString()\n    }\n  }\n];"
        },
        "name": "Process Results",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1050,
          350
        ]
      },
      {
        "parameters": {
          "functionCode": "// Handle quality assessment errors\nconst error = $input.item.json;\n\nreturn [\n  {\n    json: {\n      success: false,\n      error: error.error || 'Quality assessment failed',\n      details: error.details || 'Unknown error',\n      qualityScore: 0,\n      processedAt: new Date().toISOString()\n    }\n  }\n];"
        },
        "name": "Handle Error",
        "type": "n8n-nodes-base.function",
        "typeVersion": 1,
        "position": [
          1050,
          500
        ]
      },
      {
        "parameters": {
          "resumeOnFail": true,
          "options": {}
        },
        "name": "Combine Results",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          1250,
          400
        ]
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Extract Image URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking \"Execute Workflow\"": {
        "main": [
          [
            {
              "node": "Extract Image URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Image URL": {
        "main": [
          [
            {
              "node": "Call Local Quality Service",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call Local Quality Service": {
        "main": [
          [
            {
              "node": "If Successful",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Successful": {
        "main": [
          [
            {
              "node": "Process Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Handle Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Results": {
        "main": [
          [
            {
              "node": "Combine Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Handle Error": {
        "main": [
          [
            {
              "node": "Combine Results",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1",
      "saveExecutionProgress": true,
      "callerPolicy": "workflowsFromSameOwner",
      "errorWorkflow": "error-handling"
    },
    "tags": [
      {
        "name": "ai-integration"
      },
      {
        "name": "quality-assessment"
      }
    ],
    "versionId": "1",
    "id": "quality-assessment",
    "meta": {
      "instanceId": "local-instance"
    }
  } 